{% extends "base.twig" %}

{% block content %}
    <div class="content-wrapper">
        <article class="post-type-archive">
            <section class="article-content">
                <div class="article-body">
                    {% for post in posts %}
                        {% include ['tease-'~post.post_type~'.twig', 'tease.twig'] %}
                    {% endfor %}
                </div>
            </section>
        </article>
    </div><!-- /content-wrapper -->
{% endblock %}